html{
    height:100%
}

body{
    height: 100vh;
    background: url(images/port.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Khand', sans-serif;
}

.header{
    margin-top: 15rem;
    
}



.hidden{
    display: none;
}

.port-btn{
    margin: 5px;
}


.img-col{
    text-align: center;
    margin-top: 6rem;
}

.divide{
    
    border-right: 6px double #212429;
    
}

.divide-left{
    border-left: 6px double #212429;
}

.info{
    padding-top: 30px;
}

.about-img{
    width: 150px;
    border-radius: 10px;
    border: 6px double black;

}

.card-style{
    margin-top: 15px;
    
}

.html{
    font-size: 4rem;
    margin: 1rem;
}

.contact-page{
    display: none;
    margin-top: 10rem;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
}

.portfolio, .about, .contact, .home{
    transition: .2s ease-in;
    margin: 5px;
    background-color: #212429 !important; 
}

.home-light, .about-light, .contact-light{
    transition: .2s ease-in;
    margin: 5px;
    background-color: whitesmoke !important;
}

 .portfolio:hover,
 .about:hover,
 .contact:hover,
 .home:hover,
 .home-light:hover,
 .about-light:hover,
 .contact-light:hover{
    transform: scale(1.1);
}

@media only screen and (min-width:576px) and  (max-width: 768px){
    .card-title{
        font-size: .95rem;
    }
}

